.navbar{
    background-color: rgb(100,149,237) !important;
}

.navbar .nav-item a{
    color: rgb(0,0,0) !important;
}

.navbar .dropdown-menu{
    background-color: rgba(255,211,0,0.3);
}
.dropdown-item:hover{
    background-color: rgba(255,211,0,0.5);
}

.btn-primary{
  color: rgb(173,255,47);
  background-color: rgb(0, 45, 97);
  border-color: rgb(0,0,0);
}
.btn-primary:hover{
  color: rgb(153,50,204);
  background-color: rgba(151,201,255,0.3);
  border-color: rgb(0,0,0);
}
.KJFheader{
    color: rgb(255,255,255);
  % */
    font-size: 1.6em;
    font-weight: bolder;
  
    text-shadow: 2px 4px 10px tomato;
}
